@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100vh;
}

html{
    /* a cada 1rem sera considerado 10px */
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
}
header{
    width: 100%;
    background-color:#ffcc01;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.39);
}

div#logo{
    max-width: 250px;
}

div#logo img{
    width: 100%;
}

div#menu{
    margin-right: 10px; 
}

#menu > a{
    text-decoration: none;
    padding: 10px;
    color:#0f3627;
    font-size:2rem;
    font-weight: bold;
    letter-spacing: 1.2px;
}

#menu > a:hover{
    background-color:#74942c;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.5s;
}

main{
    max-width: 1200px;
    margin: auto;
}

#first-content{
    display: flex;
    flex: row;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

div#left-container{
    max-width: 600px;
    padding: 10px;
}

div#left-content{
    width: 100%;
}

div#left-content > h1{
    font-size: 3.8rem;
    letter-spacing: 1.2px;
}

div#left-content > p{
    padding-top: 15px;
    font-size: 2rem;
    line-height:25px;
    letter-spacing:0.8px;
    
}


div#right-container{
    max-width: 600px;
    padding: 10px;
}

div#img-content{
    width: 100%;
}

div#img-content img {
    width: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
}

section#produtos{
    width: 100%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 80px;
}

div.title-expo{
    text-align: center;
    font-size: 2.2rem;
    letter-spacing: 1.2px;
}

article#expo{
 margin-top: 60px;
}

div#tools-container{
    width: 100%;
    max-height: 230px;
}

div#tools-content{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

div.itens{
    border: 1px solid rgba(0, 0, 0, 0.103);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.192);
    padding: 10px;
    margin: 15px;
}

div.itens a{
    text-decoration: none;
    color: #000;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 1.1px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.315);
}

.bigsize:hover{
    padding: 25px;
}

div.itens span{
    display: block;
    text-align: center;
}

section#mdf{
    width: 100%;
    margin: auto;
}

div#title-container{
    text-align: center;
    font-size: 2.2rem;
    letter-spacing: 1.2px;
}

div#mdf-img {
    display: flex;
    justify-content: center;
}

div#mdf-img img{
    width: 75%;
}

div#text-container{
    width: 70%;
    max-width: 860px;
    margin: auto;
    text-align: justify;
    font-size: 2rem;
    line-height: 25px;
    letter-spacing: 1.1px;
    font-family: Arial, Helvetica, sans-serif;
}

div#text-container a{
    text-decoration: none;
    color: #8fb635;
}

div#text-container a:hover{
    background-color: #c4f84a73;
    padding: 6px;
    border-radius: 10px;
    transition: 0.2s;
}

section#house-container{
    display: flex;
    flex-direction: row;
    margin-top: 100px;
}

div#right-house{
    max-width: 600px;
    padding: 10px;
}

div#house-img{
    width: 100%;
}

div#house-img img{
    width: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
}

div#left-house{
    max-width: 600px;
    padding: 10px;
}

div#house-content{
    width: 100%;
}

div#house-content > h1{
    font-size: 3.8rem;
    letter-spacing: 1.2px;
}

div#house-content > p{
    max-width: 500px;
    text-align: justify;
    padding-top: 15px;
    font-size: 2.3rem;
    line-height:30px;
    letter-spacing:0.8px;
    
}