@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');


:root{
    --font-family: 'Inconsolata', monospace;
    --font-paragrafo: 'Rubik', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100vh;
}

html{
    /* a cada 1rem sera considerado 10px */
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
}
header{
    width: 100%;
    background-color:#ffcc01;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.39);
}

div#logo{
    max-width: 250px;
}

div#logo img{
    width: 100%;
}

div#menu{
    margin-right: 10px; 
}

#menu > a{
    text-decoration: none;
    padding: 10px;
    color:#0f3627;
    font-size:2rem;
    font-weight: bold;
    letter-spacing: 1.2px;
}

#menu > a:hover{
    background-color:#74942c;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.5s;
}

#first-content{
    display: flex;
    justify-content: center;
    flex: row;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

div#left-container{
    max-width: 600px;
    padding: 10px;
}

div#left-content{
    width: 100%;
}

div#left-content > h1{
    font-size: 4rem;
    letter-spacing: 1.2px;
    font-family: var(--font-family);
    text-transform: capitalize;
}

div#left-content > p{
    padding-top: 15px;
    font-size: 2rem;
    line-height:25px;
    letter-spacing:0.8px;
    font-family: var(--font-paragrafo);
    
}


div#right-container{
    max-width: 600px;
    padding: 10px;
}

div#img-content{
    width: 100%;
}

div#img-content img {
    width: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
}

section#produtos{
    width: 100%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 80px;
}

div.title-expo{
    text-align: center;
    font-size: 2.4rem;
    letter-spacing: 1.2px;
    font-family: var(--font-family);
    text-transform: capitalize;
}

article#expo{
 margin-top: 60px;
}

div#tools-container{
    width: 100%;
    max-height: 230px;
}

div#tools-content{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

div.itens{
    border: 1px solid rgba(0, 0, 0, 0.103);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.192);
    padding: 10px;
    margin: 15px;
}

div.itens a{
    text-decoration: none;
    color: #000;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 1.1px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.315);
}

.bigsize:hover{
    padding: 25px;
}

div.itens span{
    display: block;
    text-align: center;
}

section#mdf{
    width: 100%;
    margin: auto;
}

div#title-container{
    text-align: center;
    font-size: 2.4rem;
    letter-spacing: 1.2px;
    font-family: var(--font-family);
    text-transform: capitalize;
}

div#mdf-img {
    display: flex;
    justify-content: center;
}

div#mdf-img img{
    width: 75%;
}

div#text-container{
    width: 70%;
    max-width: 860px;
    margin: auto;
    text-align: justify;
    font-size: 2rem;
    line-height: 25px;
    letter-spacing: 1.1px;
    font-family: Arial, Helvetica, sans-serif;
}

div#text-container a{
    text-decoration: none;
    color: #8fb635;
}

div#text-container a:hover{
    background-color: #c4f84a73;
    padding: 6px;
    border-radius: 10px;
    transition: 0.2s;
}

section#house-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;
}

div#right-house{
    max-width: 600px;
    padding: 10px;
}

div#house-img{
    width: 100%;
}

div#house-img img{
    width: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
}

div#left-house{
    max-width: 600px;
    padding: 10px;
}

div#house-content{
    width: 100%;
}

div#house-content > h1{
    font-size: 4rem;
    letter-spacing: 1.2px;
    font-family: var(--font-family);
    text-transform: capitalize;
}

div#house-content > p{
    max-width: 500px;
    text-align: justify;
    padding-top: 15px;
    font-size: 2.3rem;
    line-height:30px;
    letter-spacing:0.8px;
    
}

section#sessao-container{
    max-width: 809px;
    width: 100%;
    margin: auto;
    margin-top: 100px;
}

div#img-container-section{
    display: flex;
    flex-direction: row;
}

div#img-container-section img{
   box-shadow:0px 0px 10px rgba(0, 0, 0, 0.288);
}

div#wood-img-section > p{
    width: 400px;
    height: 400px;
    font-size: 4rem;
    font-family: var(--font-paragrafo);
    text-align: left;
    padding: 10px;
    padding-top: 20%;
}

section#contatos-container{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    background:#75942ca8 url(../imagens/contato-background.jpg)no-repeat;
    background-size: cover;
    background-position:center center;
    background-attachment: fixed;
}

div#inf-contatos{
    text-align: center;
    padding:25px
}

div#inf-contatos > h1{
    color: #fff;
    font-size: 5.5rem;
    padding-bottom: 20px;
    font-family: var(--font-family);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.308);
}

div#inf-contatos > p{
    color: #fff;
    font-size: 3rem;
    font-family: var(--font-paragrafo);
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.308);
}

article#form-container{
    margin-top: 50px;
    padding-left: 100px;
}

div#email-content p{
    font-size: 4rem;
    font-family: var(--font-family);
    font-weight: bold;
    display: inline;
}

div#email-content a{
    padding-left: 5px;
    text-decoration: none;
    color: #0f3627;
    font-size: 3.5rem;
    font-weight: bold;
}

form{
    margin-top: 50px;
}

div#form-content label{
    font-size: 3.5rem;
    font-weight: 800;
    color: rgb(0, 0, 0);
    font-family: var(--font-family);
}

div#form-content textarea{ 
    display: block;
    width: 690px;
    height: 450px;
    background-color: #d8d8d869;
    border-radius: 10px;
    position: relative;
}
::placeholder{
    font-size: 3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}